@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap')

body, h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}
.container{
    width: 75%;
    margin: 0px auto;
}

a{
    text-decoration: none;
}

/* Nav Section Start*/
.row{
    height: 70px;
    display: flex;
}

.brand{
    flex: 1 1 120%;
}

.brand h1{
    text-align: left;
    padding-top: 11px;
    margin-top: 6px;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.9);
    font-family: "Playfair Display", "Segoe UI", "Helvetica Neue", Arial;
    
}

.nav-bar{
    flex: 1 1 800%;
}

li{
    list-style: none;
    height: 30px;
    margin: 20px 100px 20px -35px;
}

.nav-bar a{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Playfair Display", "Segoe UI", "Helvetica Neue", Arial;
}

.nav-bar a span{
    color: white;
    border-radius: 4px;
    background-color: #7832E2;
    
}

.link{
    flex: 1 1 150%;
}

.nav-button{
    width: 70%;
    padding: 5px;
    margin-top: 19px ;
    margin-left: 36.5px;
    background-color: green;
    
    border-radius: 5px;
}

.nav-button a{
    margin-left: 2px;
    color: white;
}
/* Nav Section End*/

/* Header Section Start*/
.header-section{
    width: 100%;
}
.header{
    display: flex;
    height: 800px;
}
.header-content{
    flex: 1 1 100%;
    padding: 70px 50px;
    margin-top: 50px;
}

#xyz{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #d1154b;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
.header-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    color: #212529;
    font-family: "Playfair Display", "Segoe UI", "Helvetica Neue", Arial;
}

.header-content p{
    margin-top: -20px;
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #212529;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}

#content{
    display: flex;
    height: 60px;
    margin-top: -20px;
}
#image{
    height: 100%;
    flex: 1 1 100%;
}
.min{
    flex: 1 1 500%;
    margin-left: 15px;
}

#name{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #212529;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
#athika{
    margin-top: -35px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #6c757d;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
.image{
    flex: 1 1 118%;
}
/* Header Section end*/

/* Main Section Start */
.main-div{
    height: 850px;
}
aside{
    height:100%;
    flex: 1 1 100%;
}
aside p{
    margin-left: 180px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6c757d;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
main{
    height:100%;
    flex: 1 1 200%;
} 
main p{
    margin-top: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    color: ##212529;
    font-family: "sans-serif", Georgia;
}
.button-box{
    display: flex;
    height: 200px;
    background-color: #E8F3EC;
}
#text{
    flex: 1 1 100%;
}
.button{
    flex: 1 1 150%;
}
.button-content{
    padding:  60px;
}
#email{
    border: 2px solid green;
    height: 30px;
    border-radius: 4px;
}
button{
    background-color: #028260;
}
#text h4{
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    margin-left: 35px;
    line-height: 24px;
    color: #212529;
    font-family: "Playfair Display", "Segoe UI", "Helvetica Neue", Arial;
}
#text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: ##212529;
    padding-top: 5px;
    margin: -15px 35px;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
/* Main Section end */

/* Blog Section Start */
.blog{
    display: flex;
    height: 300px;
    margin-top: 40px;
}

.blog-1{
    flex: 1 1 100%;
}

.blog-1 .blog-content{
    height: 100%;
    margin: 0px 10px 0px 0px;
    
}

.content-margin{
    margin-top: -10px;
}

.design-h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.9);
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}

.design-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #212529;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}

.name{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #6c757d;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
/* Blog Section end */

/* Side Blog Section Start*/

.blog-2{
    flex: 1 1 100%;
}

.blog-2 .side-blog{
    height: 100%;
    margin: 0px 0px 0px 10px;
}
.blog-2  .side-blog-content{
    height: 85px;
    margin-bottom: 20px;
}

.flexbox{
    height: 100%;
    display: flex;
}

.side-blog-content .article{
    height: 30px;
    margin-left:15px;
}

.side-blog h2{
    margin-top: -2px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: black;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}

.side-blog p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #6c757d;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
/* Side Blog Section end */
/* Footer Section Start */
#brand{
    color:#6c757d;
}
.copy{
    text-align: left;
    color: #6c757d;
    padding-top: 11px;
    flex: 1 1 600%;
}
.theme{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #6c757d;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
    text-align: left;
    padding-top: 11px;
    flex: 1 1 120%;
}
.theme a{
    color:#7832E2;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;
}
/* Footer Section end */